.sidebar {
  background: #040404;
  color: #fff;
  flex: 20%;
  height: 100vh;
  min-width: 230px;
  padding: 0 12px;
}

.sidebar-logo {
  display: flex;
  align-items: flex-start;
  height: 30px;
  object-fit: contain;
  margin: 0 auto 0 0;
  padding: 10px;
}
